<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:macro name="cylinder_tool_group_define" params="group_name prefix">
        <group name="${group_name}">
            <link name="${prefix}_base"/>
            <link name="${prefix}_body"/>
        </group>
    </xacro:macro>

    <xacro:macro name="cylinder_tool_autocol" params="prefix">
    </xacro:macro>

    <xacro:macro name="cylinder_tool_col_with" params="prefix link">
        <disable_collisions link1="${prefix}_body" link2="${link}" reason="Never"/>
    </xacro:macro>
</robot>