<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="cylinder_tool" params="parent *origin prefix transmission_hw_interface">
      <link name="${prefix}_base"/>

      <joint name="${prefix}_base_joint" type="fixed">
        <parent link="${parent}"/>
        <child link = "${prefix}_base"/>
        <xacro:insert_block name="origin"/>
      </joint>

      <!-- body -->
      <link name="${prefix}_body">
        <visual>
          <geometry>
            <mesh filename="package://prl_ur5_robot_configuration/urdf/models/cylinder_tool.stl" scale="0.001 0.001 0.001"/>
          </geometry>
          <material name="Grey">
            <color rgba="0.8 0.8 0.8 1.0"/>
          </material>
        </visual>
        <collision>
          <geometry>
            <mesh filename="package://prl_ur5_robot_configuration/urdf/models/cylinder_tool.stl" scale="0.001 0.001 0.001"/>
          </geometry>
        </collision>
        <inertial>
          <mass value="0.2" />
          <inertia  ixx="0.0001" ixy="0.0" ixz="0.0"
                    iyy="0.0001" iyz="0.0"
                    izz="0.0001" />
        </inertial>
      </link>

      <joint name="${prefix}_body_joint" type="fixed">
        <parent link="${prefix}_base"/>
        <child link = "${prefix}_body"/>
        <origin xyz="0 0 0.0041" rpy="${pi} 0 0"/>

      </joint>

      <!-- grasp frame -->
      <link name="${prefix}_grasp_frame"/>

      <joint name="${prefix}_grasp_frame_joint" type="fixed">
        <parent link="${prefix}_base"/>
        <child link = "${prefix}_grasp_frame"/>
        <origin xyz="0 0 0.154" rpy="0 0 0"/>
      </joint>

      <!-- Create a 'fake' actuated gripper so Moveit don't throw error because it can't find the gripper links/joints/controller from Gazebo -->
      <xacro:include filename="$(find prl_ur5_robot_configuration)/urdf/fake_gripper.urdf.xacro"/>
      <xacro:fake_gripper_actuation prefix="${prefix}" palm="${prefix}_body"/>

  </xacro:macro>
</robot>
