<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:macro name="fake_gripper_group" params="prefix">
        <link name="${prefix}_finger_1_finger_tip"/>
        <link name="${prefix}_finger_2_finger_tip"/>
        <joint name="${prefix}_joint"/>
        <passive_joint name="${prefix}_mirror_joint"/>
    </xacro:macro>

    <xacro:macro name="fake_gripper_autocol" params="prefix">
    </xacro:macro>

    <xacro:macro name="fake_gripper_col_with" params="prefix link">
    </xacro:macro>
</robot>